.about-header {
	background: url("../img/about-first-bg.png") no-repeat;
	background-size: cover;
	height: 477px;
	.title {
		margin-top: 90px;
	}
	h1 {
		border-bottom: none;
	}
}
.license {
	background: #261097;
	padding: 40px 0;
	h2 {
		text-align: center;
		border-bottom: 0;
	}
	.img-block {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -90px;
	}
	.carousel-item.active,
	.carousel-item-next,
	.carousel-item-prev {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.carousel-control-prev, .carousel-control-next {
		opacity: 1;
		transition: .3s;
		&:hover {
			opacity: 1;
		}
	}
	.carousel-control-prev {
		&:hover {
			.carousel-control-prev-icon {
				background: url("../img/slider-arrow-hover.png") no-repeat center;
			}
		}
	}
	.carousel-control-next {
		&:hover {
			.carousel-control-next-icon {
				background: url("../img/slider-arrow-hover.png") no-repeat center;
			}
		}
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: 100%;
		height: 100%;
		transition: .3s;
	}
	.carousel-control-prev-icon {
		background: url("../img/slider-arrow.png") no-repeat center;
	}
	.carousel-control-next-icon {
		background: url("../img/slider-arrow.png") no-repeat center;
		transform: rotate(180deg);
	}
}
.count-main-block {
	background: linear-gradient(to top, #ffab1e, #ffc237);
	padding: 100px 0 50px 0;
	.img-block {
		text-align: center;
		margin-bottom: 25px;
	}
	.count-block_text {
		p {
			font-family: $open-font;
			font-size: 24px;
			line-height: 30px;
			color: #fff1b3;
			text-align: center;
			&:first-child {
				font-family: $m-font;
				font-size: 42px;
				line-height: 42px;
				font-weight: 900;
				margin-bottom: 5px;
			}
		}
	}
}
.top_traiders {
	background: #312480;
	padding: 40px 0;
	h2 {
		text-align: center;
		border-bottom: none;
	}
	.top-people-block {
		margin-top: 25px;
	}
	.top-people {
		border: 2px solid #213ea5;
		border-radius: 20px;
		overflow: hidden;
		padding-bottom: 15px;
	}
	.top-people_img {
		height: 370px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.title-text {
		position: relative;
		padding: 0 20px;
		box-shadow: 0px -25px 63px 30px rgba(49, 36, 128, 1);
		z-index: 10;
		p {
			font-family: $open-font;
			font-size: 15px;
			font-weight: bold;
			color: #ffffff;
			text-align: center;
			&:first-child {
				font-family: $m-font;
				font-size: 22px;
				font-weight: 700;
				color: #2af9fd;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
		}
	}
	.hidden-text {
		margin-top: 20px;
		p {
			font-family: $open-font;
			font-size: 16px;
			font-weight: 200;
			color: #cccfd3;
			text-align: center;
		}
		.income {
			color: #ffad20;
		}
	}
	.show-text {
		text-align: center;
		margin-top: 20px;
		img {
			transform: rotate(270deg);
		}
	}
}