.recovery-header {
	background: url("../img/recovery.png") no-repeat 50% 0;
	background-size: cover;
	height: 481px;
	.title {
		margin-top: 30px;
	}
	h1 {
		border-bottom: none;
	}
	.header-form {
		margin-top: 0;
	}
}
.association-recovery {
	background: #261097;
	padding: 40px 0;
	margin-top: -2px;
	h2 {
		color: #2af9fd;
		text-align: center;
		border-bottom: none;
	}
	.title {
		p {
			font-family: $open-font;
			font-weight: 400;
			color: #ffffff;
			text-align: center;
			font-size: 24px;
			margin-top: 10px;
		}
	}
	.recovery-title-text {
		margin: 40px 0;
		p {
			font-family: $m-font;
			font-weight: 700;
			color: #2af9fd;
			text-align: center;
			font-size: 22px;
			text-transform: uppercase;
		}
	}
	.recovery-step {
		p {
			font-family: $open-font;
			font-size: 18px;
			font-weight: 400;
			text-align: center;
			color: #ffffff;
			line-height: 22px;
		}
		.circles {
			text-align: center;
		}
		.coin {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&:first-child {
			.circles {
				margin: 40px 0;
			}
		}
		&:nth-child(2) {
			.circles {
				margin: 36px 0;
			}
		}
		&:nth-child(3) {
			.circles {
				margin: 32px 0;
			}
		}
		&:nth-child(4) {
			.circles {
				margin: 36px 0;
			}
		}
		&:last-child {
			.circles {
				margin: 10px 0;
			}
		}
	}
}
.recovery-count {
	background: #ffb62a;
	padding: 70px 0 50px 0;
	.img-block {
		text-align: center;
		margin-bottom: 25px;
	}
	.count-block_text {
		p {
			font-family: $open-font;
			font-size: 24px;
			line-height: 30px;
			color: #fff1b3;
			text-align: center;
			&:last-child {
				font-family: $m-font;
				font-size: 42px;
				line-height: 42px;
				font-weight: 900;
				margin-top: 10px;
			}
		}
	}
}
.section-steps {
	background: #312480;
	padding: 55px 0;
	h2 {
		font-weight: 700;
		color: #ffffff;
		text-align: center;
		border-bottom: none;
	}
	.steps {
		margin-top: 50px;
	}
	.steps_first-block {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		flex-direction: row;
		height: 126px;
		p {
			font-family: $m-font;
			font-size: 42px;
			line-height: 42px;
			font-weight: 900;
			color: #6cced6;
		}
	}
	.steps_text {
		margin-top: 20px;
		p {
			font-family: $open-font;
			font-weight: 400;
			color: #ffffff;
			font-size: 18px;
			text-align: center;
		}
		ul {
			padding-left: 20px;
			list-style-type: disc;
			margin-top: 10px;
			li {
				font-family: $open-font;
				font-size: 14px;
				font-weight: 400;
				color: #ffffff;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
.recovery-count-2 {
	background: #ffb62a;
	padding: 70px 0 50px 0;
	.img-block {
		text-align: center;
		margin-bottom: 25px;
	}
	.count-block_text {
		p {
			font-family: $open-font;
			font-size: 24px;
			line-height: 30px;
			color: #fff1b3;
			text-align: center;
			&:first-child {
				font-family: $m-font;
				font-size: 32px;
				line-height: 42px;
				font-weight: 900;
				margin-bottom: 15px;
				text-transform: uppercase;
			}
		}
	}
}
.form-recovery {
	h2 {
		border-bottom: none;
		line-height: 48px;
	}
	p {
		font-size: 18px;
	}
	.description {
		margin-top: 60px;
	}
	.section-2_form {
		margin-top: 0;
		text-align: center;
	}
}